
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;} /*-- главное что высота для body и для html указана 100% -->*/
.fullscreen{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainblock {
    min-height: 100vh;
    display: flex;
    background: url(img/bg-header.jpg) 0 0/cover no-repeat;} /*-- "0 0/cover" чтобы на всю ширину екрана*/

.mainblock__content {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction:  row;
    position: fixed;
}
.mainblock__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 5% 20px;
    position: relative;
}

#subline ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  gap: 30px;
  list-style: none;
}

#subline ul li a {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 30px;
}

#subline {
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;     /* по вертикали */

    position: absolute;
    top: 70px;
    width: 100%;
    background-color: gray;
    z-index: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.6s ease, opacity 0.6s ease;
}   
.basket_wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;

}

.basket_picture img {

        max-width: 40%;
        height: auto;
        object-fit: contain;
        filter: invert(100%);
}

.mainblock__nav a {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


.rondo_picture{
    padding: 20px 5%;

}
.about_us__columns {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding-bottom: 10%;

}

.column__img {
    height: 90%;
    width: 90%;
    background: url(img/about.jpg) 0 0/cover no-repeat;
    background-size: cover;
    position: absolute;
    top: 20%;
    left: 5%;
}
.column__left{
    width: 50%;
    background-color: gray;
    position: relative;
    height: 100vh;
}
.column__right{
    width: 50%;
    display: flex;
    justify-content: center;     /* по горизонтали */
    align-items: center;         /* по вертикали */
}
.column__text {
    font-family: 'Rondo Regular', serif;
    width: 80%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
}

.bike_mainblock{
    min-height: 100vh;
    display: flex;
    background: url(img/about_bottom_bg.jpg) 0 0/cover no-repeat;
} /*-- "0 0/cover" чтобы на всю ширину екрана*/

.bike_mainblock__content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;     /* по горизонтали */
    align-items: center;         /* по вертикали */
}

.bike_checkout{
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
}
.mainblock__content2 {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction:  row;
    /*Position: fixed;*/
}
.mainblock__nav2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 5% 20px;
}

.mainblock__nav2 a {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.Rondo_picture2 {
    padding: 20px 5%;
}
.Rondo_picture2 img{
    filter: brightness(0);
}
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footer_wrapper {
    margin: 0 auto;

}

.form_wrapper {
      margin: 11vh auto 0  auto;
      background: white;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 800px;
}

     .form_wrapper label {
      font-weight: 600;
      color: #333;
      margin-bottom: 5px;
      display: block;
    }

   
    .form_wrapper input[type="text"] {
      width: 100%;
      padding: 12px;
      margin: 8px 0 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-sizing: border-box;
      transition: border-color 0.3s;
    }

    .submitButton_wrapper {
    display: flex;
    justify-content: center;
}

    #submitButton, #reject,
    #submitButtonForUpload, #exitButtonForUpload{
    min-width: 150px;
    padding: 0.5rem 1rem;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgb(75, 92, 113);
    font-family: 'Roboto Serif', serif;
    font-size: medium;

    color: #ffffff;
    cursor: pointer;
    }

    .modal_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 98;

        display: none;
        opacity: 0;
        transition: opacity 1.0s ease;
    }

    .header_text_form_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    margin-bottom: 0;

    }
    .header_text_form{
        padding-top: 5vh;
            font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin-bottom: 0;
    }
    .form_wrapper_upload{
        margin-top: 3vh;

    }

@media screen and (max-width:425px)
{
.mainblock {
    min-height: 100vh;
    display: flex;   
}
.mainblock__nav {
    flex-direction: column;
}
.mainblock__content {
    flex-direction: column;
    position: relative;

}
.mainblock {
    background: url(img/bg-header.jpg) 0 0/cover no-repeat;
}
.about_us__columns{
    flex-direction: column;
    width: 100%;


}
.column__left  {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column__right  {
    margin-top: 60px;
    width: 100%;
}
.about_us{
    width: 100%;
}

.mainblock__content2{
    flex-direction: column;
}
.mainblock__nav2 a {
    font-size: small;
}
.column__img {
position: static;
background: url(img/about.jpg) 0 0/contain no-repeat;
}
        #subline {
                top: 220px;
        }
}
